### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

# Basics
*.py[cod]
__pycache__
.ipynb_checkpoints

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Translations
*.mo
*.pot

# Pycharm
.idea/

# Provided default Pycharm Run/Debug Configurations should be tracked by git
# In case of local modifications made by Pycharm, use update-index command
# for each changed file, like this:
# git update-index --assume-unchanged .idea/learnkg.iml
!.idea/runConfigurations/
!.idea/learnkg.iml
!.idea/vcs.xml
!.idea/webResources.xml


# Vim

*~
*.swp
*.swo

# archive files
*.tar

# npm
node_modules/

# Compass
.sass-cache

# virtual environments
.env

# User-uploaded media
learnkg/media/

# Hitch directory
tests/.hitch

# MailHog binary
mailhog

# env file
env

# static files
staticfiles

# React build artifact
frontend/build

db.sqlite3

# Hide analysis dir for now
analysis/
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

all_texts.txt