[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
scrapy = "*"
django = "*"
scrapy-djangoitem = "*"
dateparser = "*"
jupyter = "*"
ipython = "*"
django-extensions = "*"

[dev-packages]
ipython = "*"
flake8 = "*"

[requires]
python_version = "3.6"
